#variables:
#  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
#cache:
#  paths:
#    - .cache/pip

stages:
  - test
  - release

.start_vikunja: &start_vikunja
  - apk add --no-cache bash curl python3 py3-pip
  - python3 --version

  - python3 -m venv ./venv
  - . ./venv/bin/activate
  - python3 -m pip install -r requirements_dev.txt
  - python3 -m pip install .
  - vja --version

  - mkdir -p $PWD/files
  - chmod a+w $PWD/files
  - docker compose -f tests/docker-compose.yml pull vikunja
  - docker compose -f tests/docker-compose.yml up -d
  - sleep 1s
  - curl --retry 5 --retry-all-errors --retry-delay 1 "http://docker:3456/api/v1/info"

pylint:
  stage: test
  image: python:3.13-slim
  allow_failure: true
  script:
    - python3 -m venv ./venv
    - . ./venv/bin/activate
    - python3 -m pip install -r requirements_dev.txt

    - flake8 --max-line-length=120 vja/*.py || true
    - pylint -d C0103,C0114,C0115,C0116,C0301,R0903 --fail-under=9 vja/*.py
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH == "beta" || $CI_COMMIT_BRANCH == "rc"
      when: on_success
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: on_success
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_SLUG !~ /renovate.*/
      when: manual

integration-test:
  stage: test
  image:
    name: docker:cli
  services:
    - name: docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  script:
    - *start_vikunja
    - export VJA_CONFIGDIR=tests/.vjatest_dind
    - coverage run --omit='*test*' -m pytest
    - coverage report --omit='*test*'
    - coverage xml --omit='*test*'
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH == "beta" || $CI_COMMIT_BRANCH == "rc"
      when: on_success
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: on_success
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_SLUG !~ /renovate.*/
      when: manual

integration-test-unstable:
  stage: test
  image:
    name: docker:cli
  services:
    - name: docker:dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    VIKUNJA_IMAGE: vikunja/vikunja:unstable
  allow_failure: true
  script:
    - *start_vikunja
    - export VJA_CONFIGDIR=tests/.vjatest_dind
    - pytest
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH == "beta" || $CI_COMMIT_BRANCH == "rc"
      when: on_success
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: on_success
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_SLUG !~ /renovate.*/
      when: manual

release:
  image: node:lts-slim
  stage: release
  variables:
    PYPI_USERNAME: __token__
    PYPI_TOKEN: ${PYPI_VJA_TOKEN}
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends git-core ca-certificates python3-full python-is-python3 twine
    - npm install -g semantic-release @semantic-release/gitlab @semantic-release/changelog conventional-changelog-conventionalcommits @semantic-release/commit-analyzer @semantic-release/git semantic-release-pypi
  script:
    - python3 --version
    - python3 -m venv ./venv
    - . ./venv/bin/activate
    - semantic-release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH == "beta" || $CI_COMMIT_BRANCH == "rc"
      when: manual

