{
    "branches": ["main", "next"],
    "tagFormat": "${version}",
    "plugins": [
        [
            "@semantic-release/commit-analyzer", {
                "preset": "conventionalcommits",
                "releaseRules": [
                    {"type": "feat", "section": "Features", "hidden": false},
                    {"type": "new", "section": "Features", "hidden": false},
                    {"type": "fix", "section": "Fixes", "hidden": false},
                    {"type": "docs", "scope": "README", "release": "patch"},
                    {"type": "refactor", "scope": "core-*", "release": "minor"},
                    {"type": "chore", "release": "patch"},
                    {"type": "ci", "release": "patch"},
                    {"type": "CI", "release": "patch"},
                    {"type": "doc", "release": "patch"},
                    {"type": "new", "release": "minor"},
                    {"type": "test", "release": "patch"},
                    {"type": "tests", "release": "patch"},
                    {"scope": "no-release", "release": false}
                ]
            }
        ],
        [
            "@semantic-release/release-notes-generator", {
                "preset": "conventionalcommits",
            }
        ],
        [
            "@semantic-release/changelog",
            {
                "changelogTitle": "# Changelog\n\nAll notable changes to this project will be documented in this file. See\n[Conventional Commits](https://conventionalcommits.org) for commit guidelines."
            }
        ],
        [
            "@semantic-release/git",
            {
                "message": "release: Release ${nextRelease.version} \n\n${nextRelease.notes}"
            }
        ]
    ]
}
